.loginform {
    width: 90%;
    margin: auto;
    padding-top: 5%;
    color: white;
    text-align: center;
    position: relative;
  }
  
  .sfondo {
    background-image: url("/assets/image/login.jpeg") !important;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    width: 50%;
    height: 500px;
    position: fixed;
    top: 200px;
    left: 400px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: white solid 1px;

  }
  
  .btn-dimensioni {
    margin-top: 20px;
    width: 50%;
    background-image: url("/assets/image/bg-headerfooter.jpg") !important;
    border: rgb(255, 255, 255) solid 1px;
    position: relative;
    top: 20px;
  }
  
  button:disabled {
    opacity: 0.5;
  }
  
  .eye {
    color: black;
  }
  
  .eye:hover {
    cursor: pointer;
  }
  
  .btn {
    right: 3px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}

.register-title{
    font-size: 48px;
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
}

